<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav> -->
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card" style="padding-bottom: 55px;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ this.profileModel.fullName }}</h4>
                                <p class="text-secondary mb-1"> {{ this.profileModel.buisnessName }}</p>
                                <p class="text-muted font-size-sm">{{ this.profileModel.address }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ this.profileModel.fullName }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Buisness Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ this.profileModel.buisnessName }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ this.profileModel.phoneNumber }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ this.profileModel.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ this.profileModel.address }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="btn btn-info" target="__blank"
                                    href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills"
                                    (click)="openEditProfileForm(1)"
                                    data-toggle="modal"
                                    data-target="#exampleModal">Edit</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-warning" target="__blank"
                                    href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills"
                                    (click)="openEditProfileForm(1)"
                                    data-toggle="modal"
                                    data-target="#exampleModalpass">Password Change</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-header">Bank Informations</h5>
                        </div>
                        <div class="col-3" *ngIf="!BankDetails?.BankName">
                            <button class="btn btn-primary btn-sm mt-2" style="float: right;" (click)="openEditBankForm()"
                                data-toggle="modal" data-target="#exampleModal2">Add Bank Information</button>
                        </div>
                        
                        <div class="col-3" *ngIf="BankDetails?.BankName">
                            <button class="btn btn-primary btn-sm mt-2" style="float: right;" (click)="openEditBankForm()"
                                data-toggle="modal" data-target="#exampleModal3">Edit Information</button>
                        </div>
                    </div>
        
                    <div class="col-md-8">
                        <div class="card mb-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Bank Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ this.BankDetails.BankName }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Account Number</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ this.BankDetails.AccountNumber }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Branch Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ this.BankDetails.BranchCode }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ this.BankDetails.Name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-header">KYC Informations</h5>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary btn-sm mt-2" style="float: right;" (click)="openEditProfileForm(2)"
                            data-toggle="modal"
                            data-target="#exampleModal" >Add KYC Information</button>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered first">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>KYC Documents</th>
                                            <th>Status</th>
                                            <th>Create Date</th>
                                            <th>Modified Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                   <tbody>
                                    <tr></tr>
                                   </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>KYC Documents</th>
                                            <th>Status</th>
                                            <th>Create Date</th>
                                            <th>Modified Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- model starts here -->
 <div
 class="modal fade"
 id="exampleModal"
 tabindex="-1"
 role="dialog"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Edit Profile Details</h5>
       <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </a>
     </div>
     <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
       <form [formGroup]="profileDetailsForm" (ngSubmit)="onSubmitUpdateProfileForm()" *ngIf="this.isProfileModalOpen">
           <div class="row">
               <div class="col-12">
                    <label for="">Full Name</label>
                    <input type="text" class="form-control" formControlName="fullname" value="{{ this.profileModel.fullName}}">
               </div>
               <div class="col-12">
                    <label for="">Buisness Name</label>
                    <input type="text" class="form-control" formControlName="buisnessName" value="{{ this.profileModel.buisnessName }}">
                </div>
               <div class="col-12">
                    <label for="">Email Address</label>
                    <input type="text" class="form-control" formControlName="email" value="{{ this.profileModel.email }}">
               </div>
               <div class="col-12">
                    <label for="">Address</label>
                    <input type="text" class="form-control" formControlName="address" value="{{ this.profileModel.address}}">
               </div>
               <div class="col-12 mt-3">
                    <button class="btn btn-primary btn-sm" type="submit">Update</button>
               </div>
           </div>
       </form>

       <form *ngIf="isAddKYCModalOpen" [formGroup]="kycUploadForm" (ngSubmit)="onSubmitKycUploadForm()" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <label for="">Fornt Image</label>
                    <input type="file" class="form-control" (change)="onChangeFrontImage($event)">
                </div>
                <div class="col-12 mt-3">
                    <label for="">Back Image</label>
                    <input type="file" class="form-control" (change)="onChangeBackImage($event)">
                </div>
                <div class="col-12 mt-3">
                    <button class="btn btn-primary btn-sm" type="submit">Upload</button>
                </div>
            </div>
        </form>
     </div>
   </div>
 </div>
</div>
<!-- models ends here -->


<div
 class="modal fade"
 id="exampleModal2"
 tabindex="-1"
 role="dialog"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Bank Information</h5>
       <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </a>
     </div>
     <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
        <form [formGroup]="BankDetailsForm" (ngSubmit)="onSubmitUpdateBankForm()">
            <div class="col-12">
              <label for="">Bank Name</label>
              <input type="text" class="form-control" formControlName="BankName">
              <div *ngIf="BankDetailsForm.get('BankName')?.invalid && BankDetailsForm.get('BankName')?.touched">
                <span class="text-danger">Bank Name is required</span>
              </div>
            </div>
          
            <div class="col-12">
              <label for="">Account Number</label>
              <input type="text" class="form-control" formControlName="AccountNumber">
              <div *ngIf="BankDetailsForm.get('AccountNumber')?.invalid && BankDetailsForm.get('AccountNumber')?.touched">
                <span class="text-danger">Invalid Account Number</span>
              </div>
            </div>
          
            <div class="col-12">
              <label for="">Branch Name</label>
              <input type="text" class="form-control" formControlName="BranchName">
              <div *ngIf="BankDetailsForm.get('BranchName')?.invalid && BankDetailsForm.get('BranchName')?.touched">
                <span class="text-danger">Branch Name is required</span>
              </div>
            </div>
          
            <div class="col-12">
              <label for="">Name</label>
              <input type="text" class="form-control" formControlName="Name">
              <div *ngIf="BankDetailsForm.get('Name')?.invalid && BankDetailsForm.get('Name')?.touched">
                <span class="text-danger">Name is required</span>
              </div>
            </div>
          
            <div class="col-12 mt-3">
              <button class="btn btn-primary btn-sm" type="submit">Update</button>
            </div>
          </form>
     </div>
   </div>
 </div>
</div>

<div
 class="modal fade"
 id="exampleModal3"
 tabindex="-1"
 role="dialog"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Bank Information Edit</h5>
       <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </a>
     </div>
     <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
        <form [formGroup]="BankDetailsForm" (ngSubmit)="onSubmitEditBankForm()">
            <div class="col-12">
              <label for="">Bank Name</label>
              <input type="text" class="form-control" formControlName="BankName" value="{{ this.BankDetails.BankName }}">
              <div *ngIf="BankDetailsForm.get('BankName')?.invalid && BankDetailsForm.get('BankName')?.touched">
                <span class="text-danger">Bank Name is required</span>
              </div>
            </div>
          
            <div class="col-12">
              <label for="">Account Number</label>
              <input type="text" class="form-control" formControlName="AccountNumber" value="{{ this.BankDetails.AccountNumber }}">
              <div *ngIf="BankDetailsForm.get('AccountNumber')?.invalid && BankDetailsForm.get('AccountNumber')?.touched">
                <span class="text-danger">Invalid Account Number</span>
              </div>
            </div>
          
            <div class="col-12">
              <label for="">Branch Name</label>
              <input type="text" class="form-control" formControlName="BranchName" value="{{ this.BankDetails.BranchCode }}">
              <div *ngIf="BankDetailsForm.get('BranchName')?.invalid && BankDetailsForm.get('BranchName')?.touched">
                <span class="text-danger">Branch Name is required</span>
              </div>
            </div>
          
            <div class="col-12">
              <label for="">Name</label>
              <input type="text" class="form-control" formControlName="Name" value="{{ this.BankDetails.Name }}">
              <div *ngIf="BankDetailsForm.get('Name')?.invalid && BankDetailsForm.get('Name')?.touched">
                <span class="text-danger">Name is required</span>
              </div>
            </div>
          
            <div class="col-12 mt-3">
              <button class="btn btn-primary btn-sm" type="submit">Update</button>
            </div>
          </form>
     </div>
   </div>
 </div>
</div>

<!-- passsword change-->
<div
 class="modal fade"
 id="exampleModalpass"
 tabindex="-1"
 role="dialog"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">passsword Change</h5>
       <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </a>
     </div>
     <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
        <form [formGroup]="passwordchangeForm" (ngSubmit)="onSubmitPasswordchange()" >
            <div class="col-12">
              <label for="">New Password</label>
              <input type="password" class="form-control" formControlName="NewPassword" >
              <div *ngIf="passwordchangeForm.get('NewPassword')?.invalid && passwordchangeForm.get('NewPassword')?.touched">
                <span class="text-danger">New Password is required</span>
              </div>
            </div>
          
           
          
            <div class="col-12 mt-3">
              <button class="btn btn-primary btn-sm" type="submit" >Update</button>
            </div>
          </form>
     </div>
   </div>
 </div>
</div>