<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Hello, Welcome Back Chamud Sachintha </h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis
                faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Product Informations</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../../assets/images/product-pic.jpg" style="width: 525px; height: 500px;" alt="">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <h1>{{ this.productInfoModel.productName }}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>{{ this.productInfoModel.description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="">Quantity</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <label for="">Product Status</label>
                                <p *ngIf="this.productInfoModel.inStock" style="font-weight: bolder; color: green; margin-top: 10px;">Available</p>
                                <p *ngIf="!this.productInfoModel.inStock" style="font-weight: bolder; color: red; margin-top: 10px;">Not Available</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4" *ngIf="!this.productInfoModel.isResell">
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="onClickOpenResellForm()">Resell Product</button>
                            </div>
                            <div class="col-4" *ngIf="this.productInfoModel.isResell">
                                <button class="btn btn-primary btn-sm">Already Listed</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
 class="modal fade"
 id="exampleModal"
 tabindex="-1"
 role="dialog"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">{{ this.productInfoModel.productName }}</h5>
       <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </a>
     </div>
     <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
        <form [formGroup]="this.resellProductForm" (ngSubmit)="onSubmitResellForm()">
            <div class="row">
                <div class="col-6">
                    <label for="">Product Price</label>
                    <input type="text" class="form-control" formControlName="productPrice">
                </div>
                <div class="col-6">
                    <label for="">Resell Price</label>
                    <input type="text" class="form-control" formControlName="resellPrice">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label for="">Category</label>
                    <input type="text" class="form-control" formControlName="category">
                </div>
                <div class="col-6">
                    <label for="">Team Commision</label>
                    <input type="text" class="form-control" formControlName="teamCommision">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label for="">Direct Commision</label>
                    <input type="text" class="form-control" formControlName="directCommision">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary btn-sm">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
     </div>
   </div>
 </div>
</div>