<app-header-banner [headerText]="'Inside Product'"></app-header-banner>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Product Informations</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <!-- <img src="../../../../assets/images/product-pic.jpg" style="width: 525px; height: 500px;" alt=""> -->
                        <img src="{{ this.productInfoModel.image1 }}" style="width: 100%; height: 100%;" alt="">
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-12">
                                <h1>{{ this.productInfoModel.productName }}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p [innerHTML]="this.productInfoModel.description"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label for="">Price</label>
                                <h2>LKR. {{ this.productInfoModel.price }}</h2>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <label for="">Product Status</label>
                                <p *ngIf="+this.productInfoModel.inStock === 1" style="font-weight: bolder; color: green; margin-top: 10px;">Available</p>
                                <p *ngIf="+this.productInfoModel.inStock === 0" style="font-weight: bolder; color: red; margin-top: 10px;">Not Available</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label for="">Team Commision</label>
                                <h2>{{this.productInfoModel.teamCommision}}%</h2>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <label for="">Direct Commision</label>
                                <h2>{{this.productInfoModel.directCommision}}%</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label for="">Package Weigth</label>
                                <h2>{{this.productInfoModel.weigth}}</h2>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <label for="">Stock Count</label>
                                <h2>{{this.productInfoModel.Stock}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label for="">Warranty</label>
                                <h3>{{this.productInfoModel.waranty}}</h3>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <label for="">Store Pick</label>
                                <p *ngIf="+this.productInfoModel.is_store_pick === 1" style="font-weight: bolder; color: green; margin-top: 10px;">Store Pick Available</p>
                                <p *ngIf="+this.productInfoModel.is_store_pick === 0" style="font-weight: bolder; color: red; margin-top: 10px;">Store Pick Not Available</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4" *ngIf="!this.productInfoModel.isResell && +this.productInfoModel.inStock !== 0">
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="onClickOpenResellForm()">Resell Product</button>
                            </div>
                            <div class="col-4 mt-3" *ngIf="this.productInfoModel.isResell">
                                <button class="btn btn-primary btn-sm">Already Listed</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <!-- <img src="../../../../assets/images/avatar-4.jpg" alt=""> -->
                                <img style="width: 100%;" src="{{ this.productInfoModel.image2 }}" alt="">
                            </div>
                            <div class="col-6">
                                <!-- <img src="../../../../assets/images/avatar-4.jpg" alt=""> -->
                                <img style="width: 100%;" src="{{ this.productInfoModel.image3 }}" alt="">
                            </div>
                            <div class="col-6">
                                <!-- <img src="../../../../assets/images/avatar-4.jpg" alt=""> -->
                                <img style="width: 100%;" src="{{ this.productInfoModel.image4 }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
 class="modal fade"
 id="exampleModal"
 tabindex="-1"
 role="dialog"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">{{ this.productInfoModel.productName }}</h5>
       <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </a>
     </div>
     <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
        <div class="row">
            <div class="col-12">
                <h5>Delivery Charges</h5>
                <div class="row">
                    <div class="col-6">
                        <label for="">In Colombo Fees</label>
                        <h5>LKR {{ this.productInfoModel.in_colombo_charges }} .00</h5>
                    </div>

                    <div class="col-6">
                        <label for="">Out of Colombo Fees</label>
                        <h5>LKR {{ this.productInfoModel.out_of_colombo_charges }} .00</h5>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <form [formGroup]="this.resellProductForm" (ngSubmit)="onSubmitResellForm()">
            <div class="row">
                <div class="col-6">
                    <label for="">Product Price</label>
                    <input type="text" class="form-control" formControlName="productPrice">
                </div>
                <div class="col-6">
                    <label for="">Resell Price</label>
                    <input type="text" class="form-control" formControlName="resellPrice">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label for="">Category</label>
                    <input type="text" class="form-control" formControlName="category">
                </div>
                <div class="col-6">
                    <label for="">Team Commision</label>
                    <input type="text" class="form-control" formControlName="teamCommision">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label for="">Direct Commision</label>
                    <input type="text" class="form-control" formControlName="directCommision">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary btn-sm">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
     </div>
   </div>
 </div>
</div>