<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 style="float: right;">My Reffaral Code - {{ this.dashboardModel.refCode }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Pending Orders</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{ this.dashboardModel.pendingOrderCount }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">In Courier Orders</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{ this.dashboardModel.inCourierOrderCount }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Delivered Orders</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{ this.dashboardModel.DeliverdOrder }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Team Commision</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.teamCommisionTotal }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-purple order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Direct Commision</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.paidOrders }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-red order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Team Count</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.teamCount }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-c-orange order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Hold Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.holdOrders }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-teal order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Return Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.returnOrders }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-c-lime order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Cancled Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.cancleOrders }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-cyan order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Paid Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.paidOrders }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-indigo order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Completed Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.completeOrderCount }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-c-grey order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.totalOrders }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-brown order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Recieved Earnings</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.totalEarnigs }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-c-turquoise order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Pending Payment</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{ this.dashboardModel.pendingPayment }}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
    </div>
</div>