<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Hello, Welcome Back Chamud Sachintha </h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis
                faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Product Informations</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../../assets/images/product-pic.jpg" style="width: 525px; height: 500px;" alt="">
                    </div>
                    <div class="col-6">
                       
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>