<app-header-banner [headerText]="'Check listed product'"></app-header-banner>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Product Informations</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../../assets/images/product-pic.jpg" style="width: 525px; height: 500px;" alt="">
                    </div>
                    <div class="col-6">
                       
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../../../../assets/images/avatar-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>